html {
height: 101%
}

body {
margin: 0px;
padding: 0px;
background-color: #fff;
font-family: Arial,Helvetica,sans-serif;
font-size: 14px;
color: #333;
}


@font-face{
font-family:'VodafoneRg_0';
src:url('../fonts/VodafoneRg_0.eot');
src:url('../fonts/VodafoneRg_0.eot?#iefix') format('embedded-opentype'),url('../fonts/VodafoneRg_0.ttf') format('truetype');
font-style:normal;
font-weight:normal;
}

#container {
position: absolute;
left: 50%;
top: 15%;
width: 470px;
height: auto;
margin-left: -235px;

border:0px solid #fff;
padding: 0px 0px 0px 0px;
font-weight:normal;
color: #333;
z-index: 2000;
}

#container_inhalt {
width: 430px;
height: auto;
border:1px solid #fff;
padding: 20px 20px 30px 20px;
background-color: #fff;
font-weight:normal;
color: #333;
}

#rhombus {
background-image: url("../img/logo_klein.png");
background-repeat: no-repeat;
height: 152px;
width: 84px;
border: 0px solid #fff;
margin: 0px auto;
z-index: 1000;
position: absolute;
}


.headline {
font-family: 'VodafoneRg_0';
font-weight:bold;
font-size: 32px;
color: #e60000;
}

#inhalt {
margin-top: 10px;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
color: #333;
}

input[type="submit"] {
background-image: url("../img/button_normal.jpg");
background-repeat:repeat-x;
color: #fff;
height: 26px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 0px solid #fff;
font-size: 14px;
font-weight:bold;
font-family:arial;
cursor: pointer;
}

input[type="submit"]:hover {
background-image: url("../img/button_hover.jpg");
background-repeat:repeat-x;
color: #fff;
height: 26px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 0px solid #fff;
font-size: 14px;
font-weight:bold;
font-family:arial;
cursor: pointer;
}

table, tr, td {
color: #333;
font-size: 14px; 
font-weight:normal;	
font-family: Arial, Helvetica, sans-serif;
}


  


